{% extends "base.html" %}

{% block content %}
<h3>Edit {{ book.name }}</h3>
<div class="form">
    <form action="{{ url_for('editBook', category_id=category_id, book_id=book.id) }}" method="POST">
        <div class="form-group">
            <label for="name">Book Name</label>
            <input type="text" class="form-control" name="name" placeholder="{{ book.name }}">
            <label for="author">Book Author</label>
            <input type="text" class="form-control" name="author" placeholder="{{ book.author }}">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" name="category">
                {% for category in categories %}
                    {% if category.id == category_id %}
                        <option selected>{{ category.name }}</option>
                    {% else %}
                        <option>{{ category.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" rows="3" placeholder="{{ book.description }}"></textarea>
        </div>
        <p class="submit-button"><button type="submit" class="btn btn-primary">Save</button></p>
    </form>
</div>

    
{% endblock %}